node_modules
# Keep environment variables out of version control
.env
dist
.yarn
yarn-error.log
dbml-error.log
.ipynb_checkpoints
traces.json
# Sentry Config File
.sentryclirc

# python stuff
*.pyc
*.pyo
__pycache__/
.DS_Store